safetensors
sentencepiece 
huggingface_hub 
accelerate
peft
bitsandbytes
transformers
trl
scipy
runpod
openai
xformers
zss
spacy==3.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz